:root {
  --color-brand: #2b7fff;
  --color-primary-dark: #011c44;
  --color-pimary-light: #ffffff;
  --color-shadow: #a8c6f533;
}

/* Global/Base */
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  margin: 0;
}
body {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /* font-size: 18px; */
  line-height: 1;
  margin: 0;
}
.section-title {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
}
h1,
h2,
h3,
p {
  margin: 0;
}
/* section must have padding not margin */
.section {
  padding: 48px 0px;
}
/* margin 0 auto - auto center */
.container {
  margin: 0 auto;
  max-width: 1288px;
  width: 100%;
  padding: 0 24px;
}
/* Button */
.button-order {
  color: var(--color-pimary-light);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 32px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  padding: 16px 32px;
}
.button-order:hover {
  color: var(--color-brand);
  background-color: transparent;
  border: 2px solid var(--color-brand);
  border-radius: 32px;
}
.button-order:focus {
  color: var(--color-brand);
  background-color: transparent;
  border: 2px solid var(--color-brand);
  border-radius: 32px;
}
/* Link */

.header-link {
  color: var(--color-primary-dark);
  text-decoration: none;
}
.header-link:hover {
  color: var(--color-brand);
  font-weight: 700;
  text-decoration: none;
}
.footer-link {
  color: var(--color-pimary-light);
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
}
/* header */
header {
  padding: 32px 0px;
}

/*  */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.header-menu {
  display: flex;
  gap: 56px;
  align-items: center;
}

.header-social {
  display: flex;
  align-items: center;
}
.header-social {
  display: flex;
  gap: 16px;
}

/* Hero section */ /* section 1 */
.hero-all {
  padding-left: 106px;
}
.hero-section {
  padding: 124px 0;
  background-image: url('../images/main-background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  /* background: url('../images/main-background.jpg') no-repeat center; */
}
.hero-title {
  color: var(--color-brand);
  font-family: 'Play', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 140px;
  line-height: 0.8;
  margin: 0 0 40px 0;
}

.button-description {
  font-size: 12px;
  max-width: 240px;
  text-align: center;
  padding-top: 14px;
}
/* hidden section  */
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* example of gradient */
/* .test-box {
  width: 400px;
  height: 300px;
  border: 1px solid blue;
  margin: 20px auto;
  background-image: linear-gradient(
    45deg,
    gold 50%,
    green 5 0%,
    green 70%,
    blue 100%
  );
} */

/* Section 2 - about us*/
.about-us {
  padding-top: 0;
}
.accent-heading {
  color: var(--color-brand);
}
.changes .accent-heading {
  text-transform: capitalize;
}
.discription-about-us {
  font-size: 22px;
  line-height: 1.7;
  max-width: 709px;
}
.discription-about-us :first-child {
  margin-bottom: 40px;
}
.changes {
  margin-bottom: 40px;
}
.changes-photo {
  border-radius: 100%;
  box-shadow: 0px 4px 4px 0 var(--color-shadow);
}
/* section 3 */
.why-us {
  background-image: linear-gradient(
    225deg,
    var(--color-brand),
    var(--color-pimary-light)
  );
}
.why-us-title {
  text-align: center;
  margin-bottom: 48px;
}
.why-us-description {
  display: flex;
  justify-content: center;
  gap: 56px;
  align-items: center;
}
.why-us-description article {
  background-color: var(--color-pimary-light);
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  align-items: center;
  justify-content: ;
  text-align: center;
  border-radius: 32px;
  box-shadow: 0px 4px 4px var(--color-shadow);
  width: 316px;
  /* max-height: 181px; */
  padding: 24px 32px;
  gap: 8px;
}
/* sectiom 4 */
.procedures-card {
  padding-bottom: 32px;
  width: 344px;
  height: 456px;
  background-color: #2b7fff;
  text-align: center;
  color: var(--color-pimary-light);
  padding-bottom: 32px;
  display: flex;
  align-items: end;
  justify-content: center;
  border-radius: 4px 120px 4px 120px;
}
.procedures-slider {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.header-procedures {
  text-align: center;
  margin-bottom: 48px;
}
.accent-p {
  text-transform: capitalize;
  font-weight: 600;
}
/* section 5 */
.where-title {
  text-align: center;
  margin-bottom: 48px;
}
.where {
  display: flex;
  justify-content: center;
}
.map {
  border-radius: 32px;
  margin: 0 32px 0 0;
  max-width: 605px;
  width: 100%;
}
/* forma */
.header-forma {
  font-weight: 600;
  font-size: 22px;
  line-height: 1;
  margin-bottom: 32px;
}
.form-button-description {
  font-size: 12px;
}
.forma {
  color: var(--color-pimary-light);
  text-align: center;
  background-color: var(--color-primary-dark);
  border-radius: 32px;
  padding: 48px 56px;
  width: 422px;
}
/* footer */
footer {
  background-color: var(--color-primary-dark);
  padding: 56px 0px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
}
.footer-social-logo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-icon {
  max-width: 192px;
}
