:root {
  --color-brand: #2b7fff;
  --color-primary-dark: #011c44;
  --color-pimary-light: #ffffff;
}

/* Global/Base */
ul {
  list-style-type: none;
}
body {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
h2 {
  font-family: 'Play' . sans-serif;
  font-weight: 700;
}
/* Button */
.button-order {
  color: var(--color-pimary-light);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 32px;
  cursor: pointer;
}
.button-order:hover {
  color: var(--color-brand);
  background-color: transparent;
  border: 2px solid var(--color-brand);
  border-radius: 32px;
}
.button-order:focus {
  color: var(--color-brand);
  background-color: transparent;
  border: 2px solid var(--color-brand);
  border-radius: 32px;
}
/* Link */
.header-link {
  color: var(--color-primary-dark);
  text-decoration: none;
}
.header-link:hover {
  color: var(--color-brand);
  font-weight: 700;
  text-decoration: none;
}
.footer-link {
  color: var(--color-pimary-light);
  text-decoration: none;
}

/* Hero section */
.hero-title {
  color: var(--color-brand);
  font-family: 'Play', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
/* Section 2 */

.accent-heading {
  color: var(--color-brand);
}
.changes .accent-heading {
  text-transform: capitalize;
}
/* sectiom 4 */
.procedure {
  color: var(--color-pimary-light);
}
.accent-p {
  text-transform: capitalize;
  font-weight: 600;
}
